<?xml version="1.0" encoding="UTF-8"?>
<web-app version="6.0" xmlns="https://jakarta.ee/xml/ns/jakartaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_6_0.xsd">
    <servlet>
        <servlet-name>CartQuantity</servlet-name>
        <servlet-class>controller.CartQuantity</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CartQuantity2</servlet-name>
        <servlet-class>controller.CartQuantity2</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CheckOut</servlet-name>
        <servlet-class>controller.CheckOut</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Apibanking</servlet-name>
        <servlet-class>controller.Apibanking</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>VNPay_ReturnController</servlet-name>
        <servlet-class>controller.VNPay_ReturnController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>vnpay</servlet-name>
        <servlet-class>controller.vnpay</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>DeleteCart</servlet-name>
        <url-pattern>/deletecart</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CartQuantity</servlet-name>
        <url-pattern>/cartquantity</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CartQuantity2</servlet-name>
        <url-pattern>/cartquantity2</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CheckOut</servlet-name>
        <url-pattern>/checkout</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Apibanking</servlet-name>
        <url-pattern>/apibanking</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>VNPay_ReturnController</servlet-name>
        <url-pattern>/VNPay_ReturnController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>vnpay</servlet-name>
        <url-pattern>/vnpay</url-pattern>
    </servlet-mapping>
    <welcome-file-list>
        <welcome-file>home</welcome-file>
    </welcome-file-list>
    <servlet>
        <servlet-name>home</servlet-name>
        <servlet-class>controller.HomeSeverlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CartServlet</servlet-name>
        <servlet-class>controller.CartServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddToCart</servlet-name>
        <servlet-class>controller.AddToCart</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteCart</servlet-name>
        <servlet-class>controller.DeleteCart</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>CartServlet</servlet-name>
        <url-pattern>/cart</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddToCart</servlet-name>
        <url-pattern>/addtocart</url-pattern>
    </servlet-mapping>
</web-app>
